In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('/opt/ml/level2_klue_nlp-level2-nlp-01/dataset/train/train.csv')
test_data = pd.read_csv('/opt/ml/level2_klue_nlp-level2-nlp-01/dataset/test/test_data.csv')

In [3]:
train_data.head()

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia

In [6]:
train_data['sub'] = train_data['subject_entity'].apply(lambda x : eval(x)['word'])
train_data['obj'] = train_data['object_entity'].apply(lambda x : eval(x)['word'])

In [8]:
train_data['sentence'][0].count(train_data['sub'][0])

1

In [10]:
train_data['sub_cnt'] = 0
train_data['obj_cnt'] = 0

In [15]:
sub_cnt = []
obj_cnt = []
for i in range(len(train_data)):
    sub_cnt.append(train_data.iloc[i]['sentence'].count(train_data.iloc[i]['sub']))
    obj_cnt.append(train_data.iloc[i]['sentence'].count(train_data.iloc[i]['obj']))

In [17]:
train_data['sub_cnt'] = sub_cnt
train_data['obj_cnt'] = obj_cnt

In [18]:
train_data.describe()

                 id       sub_cnt       obj_cnt
count  32470.000000  32470.000000  32470.000000
mean   16234.500000      1.117431      1.101016
std     9373.425957      0.404677      0.380411
min        0.000000      1.000000      1.000000
25%     8117.250000      1.000000      1.000000
50%    16234.500000      1.000000      1.000000
75%    24351.750000      1.000000      1.000000
max    32469.000000      6.000000     11.000000

In [50]:
print(train_data.iloc[1]['object_entity'])
print(train_data.iloc[1]['subject_entity'])

{'word': '대안신당', 'start_idx': 14, 'end_idx': 17, 'type': 'ORG'}
{'word': '민주평화당', 'start_idx': 19, 'end_idx': 23, 'type': 'ORG'}

In [47]:
train_data.iloc[1]['object_entity'][1:-1].split(',')[1].split(':')[1].strip().strip("'")

'14'

In [51]:
sent = train_data.iloc[1]['sentence'][:14] + '<obj>' + train_data.iloc[1]['sentence'][14:17+1] + '<\obj>'+train_data.iloc[1]['sentence'][17+1:]

In [36]:
train_data.iloc[0]['sentence'][24:]

'비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.'

In [52]:
# object tag 11
sent

'호남이 기반인 바른미래당·<object>대안신당<\\object>·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으로 재탄생한다.'