In [2]:
import pandas as pd

In [3]:
train_data = pd.read_csv('/opt/ml/level2_klue_nlp-level2-nlp-01/dataset/train/train.csv')
test_data = pd.read_csv('/opt/ml/level2_klue_nlp-level2-nlp-01/dataset/test/test_data.csv')

In [4]:
train_data.tail(15)

,id,sentence,subject_entity,object_entity,label,source
32455,32455,김홍균 연구원은 “일회성 손익으로 영업단에 신규 수주호선 및 공사손실충당금 118억...,"{'word': '비나신', 'start_idx': 79, 'end_idx': 81...","{'word': '베트남', 'start_idx': 73, 'end_idx': 75...",org:place_of_headquarters,wikitree
32456,32456,"신대철(申大澈, 1967년 2월 16일 ~)은 대한민국의 음악가이다.","{'word': '신대철', 'start_idx': 0, 'end_idx': 2, ...","{'word': '1967년 2월 16일', 'start_idx': 9, 'end_...",per:date_of_birth,wikipedia
32457,32457,21일 정읍시에 따르면 올해 노후 경유차 조기 폐차 지원사업으로 예산 17억6880...,"{'word': '정읍시', 'start_idx': 4, 'end_idx': 6, ...","{'word': '1100대', 'start_idx': 61, 'end_idx': ...",no_relation,wikitree
32458,32458,"대학 졸업 직후, 그는 '스티어 프라이데이 나이트(Stir Friday Night)...","{'word': '스티어 프라이데이 나이트', 'start_idx': 14, 'en...","{'word': 'Stir Friday Night', 'start_idx': 28,...",org:alternate_names,wikipedia
32459,32459,"메이저 리그 10승 경력을 높이 사서, 2011년 12월 2일 삼성 라이온즈에 영입...","{'word': '삼성 라이온즈', 'start_idx': 35, 'end_idx'...","{'word': '2011년', 'start_idx': 22, 'end_idx': ...",no_relation,wikipedia
32460,32460,위광환 전라남도 해양수산국장은 “지난 3차례 스마트양식 클러스터 조성 공모를 통해 ...,"{'word': '영광군', 'start_idx': 72, 'end_idx': 74...","{'word': '전라남도', 'start_idx': 4, 'end_idx': 7,...",no_relation,wikitree
32461,32461,1852년 미국 대통령 선거에서 휘그당은 미국-멕시코 전쟁의 영웅 테일러 장군의 사...,"{'word': '밀러드 필모어', 'start_idx': 66, 'end_idx'...","{'word': '휘그당', 'start_idx': 18, 'end_idx': 20...",per:employee_of,wikipedia
32462,32462,심지어 전용 연습구장도 없어 훈련을 여러 지역을 돌아다니며 해야 할 정도로 팀 사정...,"{'word': '방승환', 'start_idx': 85, 'end_idx': 87...","{'word': '공격수', 'start_idx': 94, 'end_idx': 96...",no_relation,wikipedia
32463,32463,"그의 외삼촌은 루이 13세로, 남편인 루이 14세는 외사촌 오빠가 된다.","{'word': '루이 14세', 'start_idx': 21, 'end_idx':...","{'word': '루이 13세', 'start_idx': 8, 'end_idx': ...",per:other_family,wikipedia
32464,32464,KIA타이거즈 외야수 이창진이 롯데백화점 광주점이 시상하는 9월 월간 MVP에 선정...,"{'word': '이창진', 'start_idx': 12, 'end_idx': 14...","{'word': '외야수', 'start_idx': 8, 'end_idx': 10,...",per:title,wikitree
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree

In [6]:
train_data['sub'] = train_data['subject_entity'].apply(lambda x : eval(x)['word'])
train_data['obj'] = train_data['object_entity'].apply(lambda x : eval(x)['word'])

In [8]:
train_data['sentence'][0].count(train_data['sub'][0])

1

In [10]:
train_data['sub_cnt'] = 0
train_data['obj_cnt'] = 0

In [15]:
sub_cnt = []
obj_cnt = []
for i in range(len(train_data)):
    sub_cnt.append(train_data.iloc[i]['sentence'].count(train_data.iloc[i]['sub']))
    obj_cnt.append(train_data.iloc[i]['sentence'].count(train_data.iloc[i]['obj']))

In [17]:
train_data['sub_cnt'] = sub_cnt
train_data['obj_cnt'] = obj_cnt

In [18]:
train_data.describe()

                 id       sub_cnt       obj_cnt
count  32470.000000  32470.000000  32470.000000
mean   16234.500000      1.117431      1.101016
std     9373.425957      0.404677      0.380411
min        0.000000      1.000000      1.000000
25%     8117.250000      1.000000      1.000000
50%    16234.500000      1.000000      1.000000
75%    24351.750000      1.000000      1.000000
max    32469.000000      6.000000     11.000000

In [50]:
print(train_data.iloc[1]['object_entity'])
print(train_data.iloc[1]['subject_entity'])

{'word': '대안신당', 'start_idx': 14, 'end_idx': 17, 'type': 'ORG'}
{'word': '민주평화당', 'start_idx': 19, 'end_idx': 23, 'type': 'ORG'}

In [47]:
train_data.iloc[1]['object_entity'][1:-1].split(',')[1].split(':')[1].strip().strip("'")

'14'

In [55]:
sent = train_data.iloc[1]['sentence'][:14] + '<obj>' + train_data.iloc[1]['sentence'][14:17+1] + '<\obj>'+train_data.iloc[1]['sentence'][17+1:]

In [36]:
train_data.iloc[0]['sentence'][24:]

'비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.'

In [56]:
# object tag 11
sent[:19+11] + '<sub>' + sent[19+11:24+11] + '</sub>' + sent[24+11:]

'호남이 기반인 바른미래당·<obj>대안신당<\\obj>·<sub>민주평화당</sub>이 우여곡절 끝에 합당해 민생당(가칭)으로 재탄생한다.'