In [2]:
import pandas as pd

In [4]:
binary = pd.read_csv('output_binary_new.csv')
multiple = pd.read_csv('output.csv')

In [5]:
all_data = pd.concat([binary, multiple], axis = 1)

In [6]:
all_data

,id,binary_label,logits,id,pred_label,probs
0,0,0.926270,[2.533203125],0,org:product,"[0.0063857264, 0.40840867, 0.5538843, 0.000334..."
1,1,0.963379,[3.267578125],1,per:alternate_names,"[9.7666714e-05, 6.195962e-05, 0.00049088773, 0..."
2,2,0.019501,[-3.91796875],2,org:dissolved,"[0.0004744309, 0.0011020082, 0.0013889936, 0.0..."
3,3,0.239380,[-1.15625],3,per:colleagues,"[0.0007278557, 0.000582284, 0.000521956, 0.000..."
4,4,0.236206,[-1.173828125],4,org:top_members/employees,"[0.9993125, 2.3765786e-05, 2.123795e-05, 2.010..."
...,...,...,...,...,...,...
7760,7760,0.749512,[1.095703125],7760,org:place_of_headquarters,"[0.0011349657, 0.004939705, 0.0003426033, 5.73..."
7761,7761,0.032104,[-3.40625],7761,org:dissolved,"[0.01645539, 0.024606159, 0.25740558, 0.001950..."
7762,7762,0.999512,[7.3984375],7762,org:top_members/employees,"[0.99937063, 2.1507914e-05, 1.8593111e-05, 8.5..."
7763,7763,0.912109,[2.341796875],7763,per:date_of_death,"[0.00016173259, 0.00024903286, 0.0011071321, 0..."
7764,7764,0.020447,[-3.869140625],7764,per:date_of_death,"[0.00025422452, 0.00010224062, 0.00013764699, ..."

In [35]:
new_label = []
new_probs = []

no_probs = [0]*30
no_probs[0] = 1

In [36]:
for i in range(len(all_data)):
    if all_data.iloc[i]['binary_label'] < 0.5:
        new_label.append('no_relation')
        no_probs = [1-all_data.iloc[i]['binary_label']]
        tmp = [round((all_data.iloc[i]['binary_label'])/29, 12)] * 29
        no_probs.extend(tmp)
        new_probs.append(no_probs)
    else:
        new_label.append(all_data.iloc[i]['pred_label'])
        # print(type(eval(all_data.iloc[i,4])))
        tmp = eval(all_data.iloc[i,5])
        # print(tmp)
        tmp.insert(0,0)
        new_probs.append(tmp)
        # all_data.iloc[i]['new_label'] = all_data.iloc[i]['pred_label']
        # all_data.iloc[i]['new_probs'] = [0]
        # all_data.iloc[i]['new_probs'] = all_data.iloc[i]['new_probs'].extend(all_data.iloc[i]['probs'])

In [37]:
print(len(new_label))
print(len(new_probs))

7765
7765

In [38]:
all_df = [new_label, new_probs]

In [39]:
all_df = pd.DataFrame(all_df).T

In [40]:
all_df = all_df.reset_index()

In [41]:
all_df

,index,0,1
0,0,org:product,"[0, 0.0063857264, 0.40840867, 0.5538843, 0.000..."
1,1,per:alternate_names,"[0, 9.7666714e-05, 6.195962e-05, 0.00049088773..."
2,2,no_relation,"[0.980499267578125, 0.000672439049, 0.00067243..."
3,3,no_relation,"[0.7606201171875, 0.008254478718, 0.0082544787..."
4,4,no_relation,"[0.7637939453125, 0.008145036369, 0.0081450363..."
...,...,...,...
7760,7760,org:place_of_headquarters,"[0, 0.0011349657, 0.004939705, 0.0003426033, 5..."
7761,7761,no_relation,"[0.9678955078125, 0.001107051455, 0.0011070514..."
7762,7762,org:top_members/employees,"[0, 0.99937063, 2.1507914e-05, 1.8593111e-05, ..."
7763,7763,per:date_of_death,"[0, 0.00016173259, 0.00024903286, 0.0011071321..."
7764,7764,no_relation,"[0.97955322265625, 0.000705061288, 0.000705061..."

In [42]:
all_df.columns = ['id','pred_label', 'probs']

In [43]:
all_df.to_csv('output_new1.csv')