In [1]:
import pandas as pd
import re
df = pd.read_csv('input.csv')
df

,Unnamed: 0,id,sentence,subject_entity,object_entity,label,source
0,21361,21379,도요하시 역. - 기후 역 구간의 각 도시를 연결. 나고야 철도 창립 때 부터 경합...,"{'word': '도카이 여객철도', 'start_idx': 60, 'end_idx...","{'word': '기후 역', 'start_idx': 10, 'end_idx': 1...",no_relation,wikipedia
1,2085,2086,그러나 남편 콘라트 2세가 황제관을 쓴 뒤 13일 만에 기젤라는 황후로 책봉되었다.,"{'word': '콘라트 2세', 'start_idx': 7, 'end_idx': ...","{'word': '기젤라', 'start_idx': 31, 'end_idx': 33...",per:spouse,wikipedia
2,15841,15855,"이후 인하대학교를 졸업하고 1982년 KBO 리그가 출범하자, OB 베어스의 창단 ...","{'word': 'OB 베어스', 'start_idx': 35, 'end_idx':...","{'word': '1982년', 'start_idx': 15, 'end_idx': ...",org:founded,wikipedia
3,15514,15527,2016년 시즌 스프링 트레이닝 시작 직전에 우리베는 클리블랜드 인디언스 구단과 1...,"{'word': '클리블랜드 인디언스', 'start_idx': 30, 'end_i...","{'word': '2016', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
4,12544,12555,아시아나항공[020560]의 새 주인으로 HDC현대산업개발[294870]이 포함된 ...,"{'word': 'HDC그룹', 'start_idx': 46, 'end_idx': ...","{'word': 'HDC현대산업개발', 'start_idx': 23, 'end_id...",org:members,wikitree
...,...,...,...,...,...,...,...
3238,22639,22661,"미키스 테오도라키스(그리스어: Μίκης Θεοδωράκης, Mikis Theod...","{'word': '미키스 테오도라키스', 'start_idx': 0, 'end_id...","{'word': 'Μίκης Θεοδωράκης', 'start_idx': 17, ...",per:alternate_names,wikipedia
3239,4895,4898,여수시(시장 권오봉)는 2020년 첫 전시로 (사)여수민족미술협회 박금만 작가의 작...,"{'word': '여수시', 'start_idx': 0, 'end_idx': 2, ...","{'word': '권오봉', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
3240,11084,11094,토마스 바흐 국제올림픽위원회 위원장을 비롯한 다수의 국제 스포츠 거물들도 속속 광주...,"{'word': '국제올림픽위원회', 'start_idx': 7, 'end_idx'...","{'word': '토마스 바흐', 'start_idx': 0, 'end_idx': ...",org:top_members/employees,wikitree
3241,24214,24237,트빌리시 대학교(오늘날 그의 이름이 남겨진 I. 자바키슈빌리 트빌리시 국립 대학교)...,"{'word': '조지아', 'start_idx': 64, 'end_idx': 66...","{'word': '트빌리시', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
3242,21530,21548,故 호심 김인곤 박사가 1980년 설립한 광주대학교(총장 김혁종)는 광주광역시 남구...,"{'word': '광주대학교', 'start_idx': 23, 'end_idx': ...","{'word': '1980년', 'start_idx': 13, 'end_idx': ...",org:founded,wikitree

#### 데이터 전처리 과정에서 주어진 index가  바뀜
#### -> ★★★ 로 sub_word, obj_word 표시하여 index 인식

In [4]:
star="★★★"
def add_star(sentence, sub_word, obj_word, ss, se, os, oe):
    if ss < os:
        new_sentence = sentence[:ss] + star + sub_word + star + sentence[se + 1 : os] + star + obj_word + star + sentence[oe + 1 :]
    else: 
        new_sentence = sentence[:os] + star + obj_word + star + sentence[oe + 1 : ss] + star + sub_word + star + sentence[se + 1 :]
    return new_sentence

In [5]:
idx=0
for sub,obj,sent in zip(df['subject_entity'], df['object_entity'], df['sentence']):
    
    sub = eval(sub)
    obj = eval(obj)
    sub_word=sub['word']
    obj_word=obj['word']
    ss=sub['start_idx']
    se=sub['end_idx']
    os=obj['start_idx']
    oe=obj['end_idx']
    star_sen=add_star(sent, sub_word, obj_word, ss,se,os,oe)
    df['sentence'][idx]=star_sen
    idx+=1

<ipython-input-5-4d63c6eaff34>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentence'][idx]=star_sen

In [6]:
df

,Unnamed: 0,id,sentence,subject_entity,object_entity,label,source
0,21361,21379,도요하시 역. - ★★★기후 역★★★ 구간의 각 도시를 연결. 나고야 철도 창립 때...,"{'word': '도카이 여객철도', 'start_idx': 60, 'end_idx...","{'word': '기후 역', 'start_idx': 10, 'end_idx': 1...",no_relation,wikipedia
1,2085,2086,그러나 남편 ★★★콘라트 2세★★★가 황제관을 쓴 뒤 13일 만에 ★★★기젤라★★★...,"{'word': '콘라트 2세', 'start_idx': 7, 'end_idx': ...","{'word': '기젤라', 'start_idx': 31, 'end_idx': 33...",per:spouse,wikipedia
2,15841,15855,"이후 인하대학교를 졸업하고 ★★★1982년★★★ KBO 리그가 출범하자, ★★★OB...","{'word': 'OB 베어스', 'start_idx': 35, 'end_idx':...","{'word': '1982년', 'start_idx': 15, 'end_idx': ...",org:founded,wikipedia
3,15514,15527,★★★2016★★★년 시즌 스프링 트레이닝 시작 직전에 우리베는 ★★★클리블랜드 인...,"{'word': '클리블랜드 인디언스', 'start_idx': 30, 'end_i...","{'word': '2016', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
4,12544,12555,아시아나항공[020560]의 새 주인으로 ★★★HDC현대산업개발★★★[294870]...,"{'word': 'HDC그룹', 'start_idx': 46, 'end_idx': ...","{'word': 'HDC현대산업개발', 'start_idx': 23, 'end_id...",org:members,wikitree
...,...,...,...,...,...,...,...
3238,22639,22661,"★★★미키스 테오도라키스★★★(그리스어: ★★★Μίκης Θεοδωράκης★★★,...","{'word': '미키스 테오도라키스', 'start_idx': 0, 'end_id...","{'word': 'Μίκης Θεοδωράκης', 'start_idx': 17, ...",per:alternate_names,wikipedia
3239,4895,4898,★★★여수시★★★(시장 ★★★권오봉★★★)는 2020년 첫 전시로 (사)여수민족미술...,"{'word': '여수시', 'start_idx': 0, 'end_idx': 2, ...","{'word': '권오봉', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
3240,11084,11094,★★★토마스 바흐★★★ ★★★국제올림픽위원회★★★ 위원장을 비롯한 다수의 국제 스포...,"{'word': '국제올림픽위원회', 'start_idx': 7, 'end_idx'...","{'word': '토마스 바흐', 'start_idx': 0, 'end_idx': ...",org:top_members/employees,wikitree
3241,24214,24237,★★★트빌리시★★★ 대학교(오늘날 그의 이름이 남겨진 I. 자바키슈빌리 트빌리시 국...,"{'word': '조지아', 'start_idx': 64, 'end_idx': 66...","{'word': '트빌리시', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
3242,21530,21548,故 호심 김인곤 박사가 ★★★1980년★★★ 설립한 ★★★광주대학교★★★(총장 김혁...,"{'word': '광주대학교', 'start_idx': 23, 'end_idx': ...","{'word': '1980년', 'start_idx': 13, 'end_idx': ...",org:founded,wikitree

### ㈜ -> (주)

In [9]:
idx=0
for sen, sub, obj in zip(df['sentence'], df['subject_entity'], df['object_entity']):
    sub2 = eval(sub)
    obj2 = eval(obj)
    sub_word=sub2['word']
    obj_word=obj2['word']
    if "㈜" in sen:
        sen=sen.replace("㈜","(주)")
        df['sentence'][idx]=sen
    if "㈜" in sub_word:
        sub=sub.replace("㈜","(주)")
        df['subject_entity'][idx]=sub
    if "㈜" in obj_word:
        obj=obj.replace("㈜","(주)")
        df['object_entity'][idx]=obj
    idx+=1

<ipython-input-9-6b804347e861>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentence'][idx]=sen

#### 표현식에서 중복 괄호 찾기
##### '(' , ')'를 '<', '>'로 바꾼 뒤 -> 문장에 entity 없는 경우를 확인하여 다시 처리해줌

In [10]:
save=[]
def test(exp):
    check=0
    for c in exp:
        if c=='(':
            if(check==0):
                check=1
            else:
                return True
        elif c==')':
            check=0
    return False

idx=0
for sen, sub, obj,lb in zip(df['sentence'], df['subject_entity'], df['object_entity'], df['label']):
    if(test(sen)==True):
        sen=sen.replace("(","<")
        sen=sen.replace(")",">")
        df['sentence'][idx]=sen
        temp2=[]
        temp2.append(sen)
        temp2.append(lb)
        save.append(temp2)
    idx+=1
df2= pd.DataFrame(save)
df2

<ipython-input-10-b3b09205cce6>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentence'][idx]=sen

,0,1
0,"2014 시즌이 끝나자 FA 기간을 통해서 내부 1명<김경언>과 외부 3명<권혁, ...",no_relation
1,"2003년, ★★★노르웨이★★★ ★★★오슬로★★★ 대학의 Anne Kristin B...",org:member_of
2,"★★★김호철★★★<金浩哲, 1955년 2월 5일<음력 1월 13일><음력 1월 13...",per:employee_of
3,이건희는 ★★★삼성그룹★★★ 임원 72명 명의 260개 차명계좌를 개설하여 자금을 ...,org:member_of
4,"★★★진지왕★★★<眞智王, ~ ★★★579년 8월 24일 <음력 7월 17일>★★★...",per:date_of_death
5,"★★★게임빌★★★<대표 ★★★송병준★★★, 하반기 기대작 ‘게임빌프로야구 슈퍼스타즈...",org:top_members/employees
6,"★★★박경리★★★<朴景利, 1926년 12월 2일<음력 10월 28일><음력 10월...",per:date_of_death
7,"★★★김종서★★★<金宗瑞, 1383년 고려국 양광도 공주 출생 ~ ★★★1453년 ...",per:date_of_death
8,"박명림 연세대학교 교수는, 미국의 조지 부시<★★★조지 H. W. 부시★★★-★★★...",per:alternate_names
9,블라도 체르노젬스키<본명: ★★★벨리치코 디미트로프 케린★★★<Величко Дим...,per:origin
10,★★★첼리아 샤시치★★★<혼전 성씨: 오코이노 다 음바비<Okoyino da Mba...,per:date_of_birth
11,"★★★문무왕★★★<文武王, ★★★626년★★★~681년 7월 21일 <음력 7월 1...",per:date_of_birth
12,그의 동생으로 프랑켄 공작직을 계승한 에베르하르트 폰 튀링겐은 형의 뜻을 받들어 우...,no_relation
13,"비엣남꾸옥전당 <Việt Nam Quốc Dân Đảng, 베트남 國民黨, ★★★베...",org:alternate_names
14,"★★★성재기★★★<成在基, ★★★1967년 9월 11일★★★ <음력 8월 8일><음...",per:date_of_birth
15,두 철학자가 열광하고 찬양했던 밝고 역동적인 시뮬라크르는 10여 년의 시차를 두고 ...,per:place_of_birth
16,"★★★임창용★★★<林昌勇, ★★★1976년 6월 30일★★★ <음력 6월 4일><음...",per:date_of_birth
17,"★★★매기 큐★★★<예명: Maggie Q, 본명: 마거릿 드니스 퀴글리<Marga...",per:date_of_birth
18,"★★★박흥식★★★<朴興植, 1903년 9월 26일<1903년 음력 8월 6일><19...",per:date_of_death
19,"★★★동치제★★★<同治帝, 함풍<咸豊><咸豊> 6년 3월 23일<1856년 4월 2...",per:date_of_death
20,<하지만 Vasco는 '스핏파이어<spit fire><spit fire>'란 프로젝...,no_relation
21,<★★★이탈리아★★★의 ★★★마세라티★★★사의 승용차 '기블리'<ghibli><gh...,org:place_of_headquarters
22,★★★장 프루아사르★★★<Jean Froissart<중세 프랑스어 Jehan -><...,per:title

In [13]:
def remove_paren(sen,sub,obj):
    items = re.findall('\(([^)]+)', sen) 
    test=list(re.finditer('\(([^)]+)', sen))
    save=[]
    iterator = re.finditer('\(([^)]+)' ,sen)
    for match in iterator:
        temp=[]
        temp.append(match.start())
        temp.append(match.end())
        save.append(temp)
    
    #save는 items에 들어있는 문자열의 시작/끝 index가 들어있음
    
    for idx, i in enumerate(items):
        if not sub in i and not obj in i and not i in sub and not i in obj: #괄호 날림. @로 바꿔줌
            j=""
            for x in range(save[idx][1]-save[idx][0]+1):
                j+="@"
            sen =sen[:save[idx][0]] + j + sen[save[idx][1]+1:]
    sen=sen.replace("@","")
    return sen

In [15]:
save=[]

idx=0
cnt=0
for sen, sub, obj in zip(df['sentence'], df['subject_entity'], df['object_entity']):

    sub = eval(sub)
    obj = eval(obj)
    sub_word=sub['word']
    obj_word=obj['word']
    
    df['sentence'][idx]=remove_paren(sen,sub_word,obj_word)
    
    idx+=1
                
df2= pd.DataFrame(df)
df2

<ipython-input-15-b598f74bee8c>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentence'][idx]=remove_paren(sen,sub_word,obj_word)

,Unnamed: 0,id,sentence,subject_entity,object_entity,label,source
0,21361,21379,도요하시 역. - ★★★기후 역★★★ 구간의 각 도시를 연결. 나고야 철도 창립 때...,"{'word': '도카이 여객철도', 'start_idx': 60, 'end_idx...","{'word': '기후 역', 'start_idx': 10, 'end_idx': 1...",no_relation,wikipedia
1,2085,2086,그러나 남편 ★★★콘라트 2세★★★가 황제관을 쓴 뒤 13일 만에 ★★★기젤라★★★...,"{'word': '콘라트 2세', 'start_idx': 7, 'end_idx': ...","{'word': '기젤라', 'start_idx': 31, 'end_idx': 33...",per:spouse,wikipedia
2,15841,15855,"이후 인하대학교를 졸업하고 ★★★1982년★★★ KBO 리그가 출범하자, ★★★OB...","{'word': 'OB 베어스', 'start_idx': 35, 'end_idx':...","{'word': '1982년', 'start_idx': 15, 'end_idx': ...",org:founded,wikipedia
3,15514,15527,★★★2016★★★년 시즌 스프링 트레이닝 시작 직전에 우리베는 ★★★클리블랜드 인...,"{'word': '클리블랜드 인디언스', 'start_idx': 30, 'end_i...","{'word': '2016', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
4,12544,12555,아시아나항공[020560]의 새 주인으로 ★★★HDC현대산업개발★★★[294870]...,"{'word': 'HDC그룹', 'start_idx': 46, 'end_idx': ...","{'word': 'HDC현대산업개발', 'start_idx': 23, 'end_id...",org:members,wikitree
...,...,...,...,...,...,...,...
3238,22639,22661,"★★★미키스 테오도라키스★★★(그리스어: ★★★Μίκης Θεοδωράκης★★★,...","{'word': '미키스 테오도라키스', 'start_idx': 0, 'end_id...","{'word': 'Μίκης Θεοδωράκης', 'start_idx': 17, ...",per:alternate_names,wikipedia
3239,4895,4898,★★★여수시★★★(시장 ★★★권오봉★★★)는 2020년 첫 전시로 여수민족미술협회 ...,"{'word': '여수시', 'start_idx': 0, 'end_idx': 2, ...","{'word': '권오봉', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
3240,11084,11094,★★★토마스 바흐★★★ ★★★국제올림픽위원회★★★ 위원장을 비롯한 다수의 국제 스포...,"{'word': '국제올림픽위원회', 'start_idx': 7, 'end_idx'...","{'word': '토마스 바흐', 'start_idx': 0, 'end_idx': ...",org:top_members/employees,wikitree
3241,24214,24237,★★★트빌리시★★★ 대학교(오늘날 그의 이름이 남겨진 I. 자바키슈빌리 트빌리시 국...,"{'word': '조지아', 'start_idx': 64, 'end_idx': 66...","{'word': '트빌리시', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
3242,21530,21548,故 호심 김인곤 박사가 ★★★1980년★★★ 설립한 ★★★광주대학교★★★는 광주광역...,"{'word': '광주대학교', 'start_idx': 23, 'end_idx': ...","{'word': '1980년', 'start_idx': 13, 'end_idx': ...",org:founded,wikitree

In [16]:
idx=0
for sen, sub, obj in zip(df['sentence'], df['subject_entity'], df['object_entity']):
    sen=sen.replace("<","(")
    sen=sen.replace(">",")")
    df['sentence'][idx]=sen
    idx+=1

<ipython-input-16-e421bfccdfba>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentence'][idx]=sen

2014 시즌이 끝나자 FA 기간을 통해서 내부 1명<김경언>과 외부 3명<권혁, 배영수, ★★★송은범★★★>과 계약에 성공하였고, 타팀에 방출된 8명 <황선일, 권용관, 이주호 <이하 LG 트윈스><이하 LG 트윈스>, 임경완 <★★★SK 와이번스★★★>, 오윤 <넥센 히어로즈>, 채기영, 정유철, 신정윤 <이하 고양 원더스>> 계약했다.
2014 시즌이 끝나자 FA 기간을 통해서 내부 1명<김경언>과 외부 3명<권혁, 배영수, ★★★송은범★★★>과 계약에 성공하였고, 타팀에 방출된 8명 <황선일, 권용관, 이주호 <이하 LG 트윈스><이하 LG 트윈스>, 임경완 <★★★SK 와이번스★★★>, 오윤 <넥센 히어로즈>, 채기영, 정유철, 신정윤 <이하 고양 원더스>> 계약했다.
2003년, ★★★노르웨이★★★ ★★★오슬로★★★ 대학의 Anne Kristin Bakkestuen과 Lise-Lotte Gundersen이 아세트산구리<copper<II><II> acetate> 존재 하에서 N9 원자에 아무것도 치환되지 않은 퓨린 유도체에 아릴기를 직접 치환하는 데 성공하였다.
2003년, ★★★노르웨이★★★ ★★★오슬로★★★ 대학의 Anne Kristin Bakkestuen과 Lise-Lotte Gundersen이 아세트산구리<copper<II><II> acetate> 존재 하에서 N9 원자에 아무것도 치환되지 않은 퓨린 유도체에 아릴기를 직접 치환하는 데 성공하였다.
★★★김호철★★★<金浩哲, 1955년 2월 5일<음력 1월 13일><음력 1월 13일> ~ >은 대한민국의 배구 선수이자, ★★★대한민국 배구 국가대표팀★★★의 감독이며, 아시안 게임과 유니버시아드 감독이기도 하다.
★★★김호철★★★<金浩哲, 1955년 2월 5일<음력 1월 13일><음력 1월 13일> ~ >은 대한민국의 배구 선수이자, ★★★대한민국 배구 국가대표팀★★★의 감독이며, 아시안 게임과 유니버시아드 감독이기도 하다.
이건희는 ★★★삼성그룹★★★ 임원 72명 명의 260개 차명계좌를 개설하여 자금을 관리하면서 2007~2010년 귀속분 양도소득세, 종합소득세 등 82억 원 상당의 조세를 포탈<특정범죄가중처벌등에관한법률위반<조세><조세>>하였으며, 2008~2014년간 자신의 일가 주택 비용을 ★★★삼성물산★★★ 법인 자금으로 대납받아 30억원 상당을 유용>하였다.
이건희는 ★★★삼성그룹★★★ 임원 72명 명의 260개 차명계좌를 개설하여 자금을 관리하면서 2007~2010년 귀속분 양도소득세, 종합소득세 등 82억 원 상당의 조세를 포탈<특정범죄가중처벌등에관한법률위반<조세><조세>>하였으며, 2008~2014년간 자신의 일가 주택 비용을 ★★★삼성물산★★★ 법인 자금으로 대납받아 30억원 상당을 유용>하였다.
★★★진지왕★★★<眞智王, ~ ★★★579년 8월 24일 <음력 7월 17일>★★★<음력 7월 17일>, 재위: 576년~579년>은 신라의 제25대 임금이다.
★★★진지왕★★★<眞智王, ~ ★★★579년 8월 24일 <음력 7월 17일>★★★<음력 7월 17일>, 재위: 576년~579년>은 신라의 제25대 임금이다.
★★★게임빌★★★<대표 ★★★송병준★★★, 하반기 기대작 ‘게임빌프로야구 슈퍼스타즈’의 2차 티저 영상을 오늘<18일><18일> 공개한다.
★★★게임빌★★★<대표 ★★★송병준★★★, 하반기 기대작 ‘게임빌프로야구 슈퍼스타즈’의 2차 티저 영상을 오늘<18일><18일> 공개한다.
★★★박경리★★★<朴景利, 1926년 12월 2일<음력 10월 28일><음력 10월 28일> ~ ★★★2008년 5월 5일★★★>는 대한민국의 소설가이다.
★★★박경리★★★<朴景利, 1926년 12월 2일<음력 10월 28일><음력 10월 28일> ~ ★★★2008년 5월 5일★★★>는 대한민국의 소설가이다.
★★★김종서★★★<金宗瑞, 1383년 고려국 양광도 공주 출생 ~ ★★★1453년 11월 10일★★★<음력 10월 10일><음력 10월 10일> 조선국 한성부에서 암살됨.>는 조선 전기의 문신, 군인, 정치가이다.
★★★김종서★★★<金宗瑞, 1383년 고려국 양광도 공주 출생 ~ ★★★1453년 11월 10일★★★<음력 10월 10일><음력 10월 10일> 조선국 한성부에서 암살됨.>는 조선 전기의 문신, 군인, 정치가이다.
박명림 연세대학교 교수는, 미국의 조지 부시<★★★조지 H. W. 부시★★★-★★★조지 W. 부시★★★>, 아르헨티나의 페론<후안 페론-에바 페론-이사벨 마르티네스 데 페론>, 4대 가문이 27년을 통치한 일본<요시다 시게루-기시 노부스케-하토야마 이치로-후쿠다 다케오>, 3대에 걸쳐 집권한 그리스<요르요스 파판드레우 <1888년><1888년>-안드레아스 파판드레우-요르요스 파판드레우 <1952년>> 등의 사례를 예로 들며, 현대사에서 가족 집권이나 2세 집권은 최악의 성적표를 보여왔다는 점을 지적했다.
박명림 연세대학교 교수는, 미국의 조지 부시<★★★조지 H. W. 부시★★★-★★★조지 W. 부시★★★>, 아르헨티나의 페론<후안 페론-에바 페론-이사벨 마르티네스 데 페론>, 4대 가문이 27년을 통치한 일본<요시다 시게루-기시 노부스케-하토야마 이치로-후쿠다 다케오>, 3대에 걸쳐 집권한 그리스<요르요스 파판드레우 <1888년><1888년>-안드레아스 파판드레우-요르요스 파판드레우 <1952년>> 등의 사례를 예로 들며, 현대사에서 가족 집권이나 2세 집권은 최악의 성적표를 보여왔다는 점을 지적했다.
블라도 체르노젬스키<본명: ★★★벨리치코 디미트로프 케린★★★<Величко Димитров Керин><Величко Димитров Керин>, 1897년 10월 19일 ~ 1934년 10월 9일>는 ★★★불가리아★★★의 혁명가이다.
블라도 체르노젬스키<본명: ★★★벨리치코 디미트로프 케린★★★<Величко Димитров Керин><Величко Димитров Керин>, 1897년 10월 19일 ~ 1934년 10월 9일>는 ★★★불가리아★★★의 혁명가이다.
★★★첼리아 샤시치★★★<혼전 성씨: 오코이노 다 음바비<Okoyino da Mbabi><Okoyino da Mbabi>, ★★★1988년 6월 27일★★★ ~ >는 독일의 전직 여자 축구 선수로 포지션은 스트라이커이다.
★★★첼리아 샤시치★★★<혼전 성씨: 오코이노 다 음바비<Okoyino da Mbabi><Okoyino da Mbabi>, ★★★1988년 6월 27일★★★ ~ >는 독일의 전직 여자 축구 선수로 포지션은 스트라이커이다.
★★★문무왕★★★<文武王, ★★★626년★★★~681년 7월 21일 <음력 7월 1일><음력 7월 1일>>은 신라 제30대 왕<661년 음력 6월 ~ 681년 음력 7월 1일>이다.
★★★문무왕★★★<文武王, ★★★626년★★★~681년 7월 21일 <음력 7월 1일><음력 7월 1일>>은 신라 제30대 왕<661년 음력 6월 ~ 681년 음력 7월 1일>이다.
그의 동생으로 프랑켄 공작직을 계승한 에베르하르트 폰 튀링겐은 형의 뜻을 받들어 우선 ★★★하인리히 1세★★★를 지지했지만 939년 ★★★오토 1세★★★에 대항하여 반란을 일으켰다가<→안더나흐의 전투 <939년><939년>>, 패하고 전사하였다.
그의 동생으로 프랑켄 공작직을 계승한 에베르하르트 폰 튀링겐은 형의 뜻을 받들어 우선 ★★★하인리히 1세★★★를 지지했지만 939년 ★★★오토 1세★★★에 대항하여 반란을 일으켰다가<→안더나흐의 전투 <939년><939년>>, 패하고 전사하였다.
비엣남꾸옥전당 <Việt Nam Quốc Dân Đảng, 베트남 國民黨, ★★★베트남 국민당★★★, 약칭: ★★★비엣꾸옥 <Việt Quốc>★★★<Việt Quốc>>은 과거 베트남의 우익정당이며, 현재는 해외에 이전하는 망명정당이다.
비엣남꾸옥전당 <Việt Nam Quốc Dân Đảng, 베트남 國民黨, ★★★베트남 국민당★★★, 약칭: ★★★비엣꾸옥 <Việt Quốc>★★★<Việt Quốc>>은 과거 베트남의 우익정당이며, 현재는 해외에 이전하는 망명정당이다.
★★★성재기★★★<成在基, ★★★1967년 9월 11일★★★ <음력 8월 8일><음력 8월 8일> ~ 2013년 7월 26일>는 대한민국의 기업인, 시민운동가, 남성인권운동가이며 남성연대<男性連帶>의 창립자였다.
★★★성재기★★★<成在基, ★★★1967년 9월 11일★★★ <음력 8월 8일><음력 8월 8일> ~ 2013년 7월 26일>는 대한민국의 기업인, 시민운동가, 남성인권운동가이며 남성연대<男性連帶>의 창립자였다.
두 철학자가 열광하고 찬양했던 밝고 역동적인 시뮬라크르는 10여 년의 시차를 두고 ★★★장 보드리야르★★★<1929년 7월 27일 <★★★프랑스★★★><프랑스> - 2007년 3월 6일>에 오면 아주 어둡고도 비관적인 허무주의가 된다.
두 철학자가 열광하고 찬양했던 밝고 역동적인 시뮬라크르는 10여 년의 시차를 두고 ★★★장 보드리야르★★★<1929년 7월 27일 <★★★프랑스★★★><프랑스> - 2007년 3월 6일>에 오면 아주 어둡고도 비관적인 허무주의가 된다.
★★★임창용★★★<林昌勇, ★★★1976년 6월 30일★★★ <음력 6월 4일><음력 6월 4일> ~ >은 대한민국의 야구 선수로 전 KBO 리그 KIA 타이거즈의 투수이다.
★★★임창용★★★<林昌勇, ★★★1976년 6월 30일★★★ <음력 6월 4일><음력 6월 4일> ~ >은 대한민국의 야구 선수로 전 KBO 리그 KIA 타이거즈의 투수이다.
★★★매기 큐★★★<예명: Maggie Q, 본명: 마거릿 드니스 퀴글리<Margaret Denise Quigley><Margaret Denise Quigley>, ★★★1979년 5월 22일★★★ ~ >는 미국의 배우이자 모델이기도 하다.
★★★매기 큐★★★<예명: Maggie Q, 본명: 마거릿 드니스 퀴글리<Margaret Denise Quigley><Margaret Denise Quigley>, ★★★1979년 5월 22일★★★ ~ >는 미국의 배우이자 모델이기도 하다.
★★★박흥식★★★<朴興植, 1903년 9월 26일<1903년 음력 8월 6일><1903년 음력 8월 6일> 대한제국 평안남도 용강 출생 - ★★★1994년 5월 10일★★★ 대한민국 서울에서 별세.>은 일제 강점기의 대표적인 기업인이다.
★★★박흥식★★★<朴興植, 1903년 9월 26일<1903년 음력 8월 6일><1903년 음력 8월 6일> 대한제국 평안남도 용강 출생 - ★★★1994년 5월 10일★★★ 대한민국 서울에서 별세.>은 일제 강점기의 대표적인 기업인이다.
★★★동치제★★★<同治帝, 함풍<咸豊><咸豊> 6년 3월 23일<1856년 4월 27일> ~ ★★★동치<同治> 13년 12월 5일<1875년 1월 12일>★★★>은 중국 청 왕조의 제10대 황제<재위 1861년 ~ 1874년>이다.
★★★동치제★★★<同治帝, 함풍<咸豊><咸豊> 6년 3월 23일<1856년 4월 27일> ~ ★★★동치<同治> 13년 12월 5일<1875년 1월 12일>★★★>은 중국 청 왕조의 제10대 황제<재위 1861년 ~ 1874년>이다.
<하지만 Vasco는 '스핏파이어<spit fire><spit fire>'란 프로젝트 그룹을 결성해 'party up'란 노래로 방송무대 데뷔한 경험이 있다.> 그러나 2011년 11월, 《해피투게더3》에 출연한 이하늘이 DJ DOC 초창기 멤버였던 박정환에 대해 "박치라서 ★★★DJ DOC★★★에서 나갔다" 등으로 얘기한 것을 ★★★박정환★★★ 본인이 명예훼손죄로 고소하면서 DJ DOC의 방송 활동이 정지되었고, Buda Sound도 그만큼 타격을 입었다.
<하지만 Vasco는 '스핏파이어<spit fire><spit fire>'란 프로젝트 그룹을 결성해 'party up'란 노래로 방송무대 데뷔한 경험이 있다.> 그러나 2011년 11월, 《해피투게더3》에 출연한 이하늘이 DJ DOC 초창기 멤버였던 박정환에 대해 "박치라서 ★★★DJ DOC★★★에서 나갔다" 등으로 얘기한 것을 ★★★박정환★★★ 본인이 명예훼손죄로 고소하면서 DJ DOC의 방송 활동이 정지되었고, Buda Sound도 그만큼 타격을 입었다.
<★★★이탈리아★★★의 ★★★마세라티★★★사의 승용차 '기블리'<ghibli><ghibli>는 일본에서도 1970년대에 '기브리'<ギブリ>라 불리었었다>.
<★★★이탈리아★★★의 ★★★마세라티★★★사의 승용차 '기블리'<ghibli><ghibli>는 일본에서도 1970년대에 '기브리'<ギブリ>라 불리었었다>.
★★★장 프루아사르★★★<Jean Froissart<중세 프랑스어 Jehan -><중세 프랑스어 Jehan ->, 1337년 무렵 -1405년 무렵>은 프랑스어를 사용한 저지대 국가 출신의 ★★★연대기 작가★★★겸 궁정 역사가이다.
★★★장 프루아사르★★★<Jean Froissart<중세 프랑스어 Jehan -><중세 프랑스어 Jehan ->, 1337년 무렵 -1405년 무렵>은 프랑스어를 사용한 저지대 국가 출신의 ★★★연대기 작가★★★겸 궁정 역사가이다.

In [73]:
df.to_csv('output.csv', index=False)